.jumbotron {
    padding-top: 6rem;
    background-color: #94adaa;
}

.svg {
    background-color: white;
}

#project {
    background-color: #94adaa;
}

.btn {
    background-color: #94adaa;
}

#footer {
    background-color: #94adaa;
}

section {
    padding-top: 5rem;
}